@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdownMenu {
  position: absolute;
  top: 4.5rem;
  right: 4rem;
  width: 160px;
  padding: 15px;
  border-radius: 15px;
  background-color: aliceblue;
  border: 1px solid gray;
  z-index: 1;
}

.dropdownMenu::before{
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: aliceblue;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  z-index: 1;
}

.carruselMenu {
  z-index: 0;
}